.controls {
    align-items: center;
    display: flex;
    justify-content: center;
}

.controls button {
    min-width: 100px;
    font-size: calc(10px + 1vmin);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 1px solid currentColor;
    padding: 8px 16px;
    margin: 0 4px;
    user-select: none;
    outline: none;
    transition: background-color var(--show-delay);
    background-color: transparent;
}

.controls button:hover {
    background-color: rgba(255,255,255,0.3);
}

.controls button:active {
    background-color: white;
}

.controls button span {
    text-decoration: underline;
}
