.controls {
    align-items: center;
    display: flex;
    justify-content: center;
}

.controls button {
    min-width: 100px;
    font-size: calc(10px + 1vmin);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 1px solid currentColor;
    background: none;
    padding: 8px 16px;
    margin: 0 4px;
    transition: color var(--hide-delay);
    user-select: none;
}

.controls button:disabled {
    color: rgba(255, 255, 255, 0.5);
}

.controls button span {
    text-decoration: underline;
}