:root {
    --show-delay: 0.4s;
    --hide-delay: 1s;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main__bar {
    height: 50px;
    opacity: 1;
    transition: opacity var(--show-delay);
}

.main__bar_hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--hide-delay);
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px + 2vmin);
}

.line {
    text-align: center;
    text-transform: lowercase;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    max-width: 100%;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
}

.line span {
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
}