.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    text-align: center;
    text-transform: lowercase;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    max-width: 100%;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
}

.line span {
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
}